In [1]:
import pandas as pd
df_init = pd.read_csv("master.csv")
df_HDI = pd.read_csv("Human development index (HDI).csv")

In [2]:
df_init.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [3]:
df_init.shape

(27820, 12)

In [4]:
df_HDI.shape

(189, 29)

In [5]:
df_HDI.head(10)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,0.652,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,0.627,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581
5,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.777,0.770,0.766,0.762,0.765,0.768,0.770,0.775,0.778,0.780
6,Argentina,0.704,0.713,0.720,0.725,0.728,0.731,0.738,0.746,0.753,...,0.795,0.799,0.813,0.819,0.818,0.820,0.820,0.822,0.822,0.825
7,Armenia,0.631,0.628,0.580,0.588,0.599,0.605,0.612,0.623,0.636,...,0.727,0.724,0.728,0.731,0.737,0.742,0.745,0.748,0.749,0.755
8,Australia,0.866,0.867,0.868,0.872,0.875,0.883,0.886,0.889,0.892,...,0.920,0.921,0.923,0.925,0.929,0.931,0.933,0.936,0.938,0.939
9,Austria,0.795,0.800,0.805,0.807,0.813,0.817,0.820,0.824,0.835,...,0.884,0.886,0.895,0.897,0.899,0.897,0.901,0.903,0.906,0.908

In [6]:
df_HDI.Country = df_HDI.Country.str.lstrip()

In [7]:
df_HDI = pd.melt(df_HDI, id_vars=["Country"], var_name=['Year'],value_name="HDI")
df_HDI = df_HDI.sort_values(["Country", "Year"])
df_HDI.reset_index(drop=True)

          Country  Year    HDI
0     Afghanistan  1990    NaN
1     Afghanistan  1991    NaN
2     Afghanistan  1992    NaN
3     Afghanistan  1993    NaN
4     Afghanistan  1994    NaN
5     Afghanistan  1995    NaN
6     Afghanistan  1996    NaN
7     Afghanistan  1997    NaN
8     Afghanistan  1998    NaN
9     Afghanistan  1999    NaN
10    Afghanistan  2000    NaN
11    Afghanistan  2001    NaN
12    Afghanistan  2002  0.373
13    Afghanistan  2003  0.383
14    Afghanistan  2004  0.398
15    Afghanistan  2005  0.408
16    Afghanistan  2006  0.417
17    Afghanistan  2007  0.429
18    Afghanistan  2008  0.437
19    Afghanistan  2009  0.453
20    Afghanistan  2010  0.463
21    Afghanistan  2011  0.471
22    Afghanistan  2012  0.482
23    Afghanistan  2013  0.487
24    Afghanistan  2014  0.491
25    Afghanistan  2015  0.493
26    Afghanistan  2016  0.494
27    Afghanistan  2017  0.498
28        Albania  1990  0.645
29        Albania  1991  0.626
...           ...   ...    ...
5262       Zambia  2016  0.586
5263       Zambia  2017  0.588
5264     Zimbabwe  1990  0.491
5265     Zimbabwe  1991  0.494
5266     Zimbabwe  1992  0.481
5267     Zimbabwe  1993  0.476
5268     Zimbabwe  1994  0.473
5269     Zimbabwe  1995  0.467
5270     Zimbabwe  1996  0.466
5271     Zimbabwe  1997  0.459
5272     Zimbabwe  1998  0.453
5273     Zimbabwe  1999  0.448
5274     Zimbabwe  2000  0.440
5275     Zimbabwe  2001  0.442
5276     Zimbabwe  2002  0.435
5277     Zimbabwe  2003  0.428
5278     Zimbabwe  2004  0.428
5279     Zimbabwe  2005  0.430
5280     Zimbabwe  2006  0.435
5281     Zimbabwe  2007  0.442
5282     Zimbabwe  2008  0.439
5283     Zimbabwe  2009  0.450
5284     Zimbabwe  2010  0.467
5285     Zimbabwe  2011  0.478
5286     Zimbabwe  2012  0.505
5287     Zimbabwe  2013  0.516
5288     Zimbabwe  2014  0.525
5289     Zimbabwe  2015  0.529
5290     Zimbabwe  2016  0.532
5291     Zimbabwe  2017  0.535

[5292 rows x 3 columns]

In [8]:
for index, row in df_HDI.iterrows():
    df_init.loc[(df_init['country'] == row['Country']) & (df_init['year'] == int(row['Year'])), 'HDI for year'] = row['HDI']

In [9]:
df_init.isnull().sum()

country                  0
year                     0
sex                      0
age                      0
suicides_no              0
population               0
suicides/100k pop        0
country-year             0
HDI for year          5194
 gdp_for_year ($)        0
gdp_per_capita ($)       0
generation               0
dtype: int64