In [2]:
import pandas as pd
df_init = pd.read_csv("master.csv")
df_HDI = pd.read_csv("Human development index (HDI).csv")

In [3]:
df_init.shape

(27820, 12)

In [6]:
df_HDI.shape

(190, 1)

In [10]:
for x,y in df_HDI.iterrows():
    print(x,y)

(('HDI Rank (2017)', 'Country', 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0), Human development index (HDI)    2017.0
Name: (HDI Rank (2017), Country, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0), dtype: float64)
(('168', ' Afghanistan', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.373, 0.38299999999999995, 0.39799999999999996, 0.408, 0.41700000000000004, 0.429, 0.43700000000000006, 0.45299999999999996, 0.46299999999999997, 0.47100000000000003, 0.48200000000000004, 0.48700000000000004, 0.491, 0.493, 0.494), Human development index (HDI)    0.498
Name: (168,  Afghanistan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.373, 0.383, 0.398, 0.408, 0.417, 0.429, 0.437, 0.453, 0.463, 0.471, 0.482, 0.487, 0.491, 0.493, 0.494), dtype: float64)
(('68', ' Albania', 0.645, 0.626, 0.61, 0.613, 0.619, 0.632, 0.6409999999999999, 0.6409999999999999, 0.652, 0.662, 0.669, 0.6759999999999999, 0.682, 0.6890000000000001, 0.6940000000000001, 0.7040000000000001, 0.711, 0.72, 0.7240000000000001, 0.7290000000000001, 0.741, 0.752, 0.767, 0.7709999999999999, 0.773, 0.7759999999999999, 0.782), Human development index (HDI)    0.785
Name: (68,  Albania, 0.645, 0.626, 0.61, 0.613, 0.619, 0.632, 0.641, 0.641, 0.652, 0.662, 0.669, 0.676, 0.682, 0.689, 0.694, 0.704, 0.711, 0.72, 0.724, 0.729, 0.741, 0.752, 0.767, 0.771, 0.773, 0.776, 0.782), dtype: float64)
(('85', ' Algeria', 0.5770000000000001, 0.581, 0.5870000000000001, 0.591, 0.595, 0.6, 0.608, 0.617, 0.627, 0.636, 0.644, 0.653, 0.664, 0.674, 0.684, 0.6920000000000001, 0.698, 0.7070000000000001, 0.7090000000000001, 0.7190000000000001, 0.7290000000000001, 0.736, 0.74, 0.745, 0.747, 0.7490000000000001, 0.753), Human development index (HDI)    0.754
Name: (85,  Algeria, 0.577, 0.581, 0.587, 0.591, 0.595, 0.6, 0.608, 0.617, 0.627, 0.636, 0.644, 0.653, 0.664, 0.674, 0.684, 0.692, 0.698, 0.707, 0.709, 0.719, 0.729, 0.736, 0.74, 0.745, 0.747, 0.749, 0.753), dtype: float64)
(('35', ' Andorra', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.759, 0.767, 0.78, 0.82, 0.826, 0.8190000000000001, 0.8290000000000001, 0.8290000000000001, 0.831, 0.83, 0.828, 0.8270000000000001, 0.8490000000000001, 0.85, 0.853, 0.8540000000000001, 0.856), Human development index (HDI)    0.858
Name: (35,  Andorra, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.759, 0.767, 0.78, 0.82, 0.826, 0.819, 0.829, 0.829, 0.831, 0.83, 0.828, 0.827, 0.849, 0.85, 0.853, 0.854, 0.856), dtype: float64)
(('147', ' Angola', nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.374, 0.387, 0.401, 0.418, 0.429, 0.442, 0.455, 0.47100000000000003, 0.49200000000000005, 0.502, 0.522, 0.52, 0.535, 0.5429999999999999, 0.5539999999999999, 0.564, 0.5720000000000001, 0.5770000000000001), Human development index (HDI)    0.581
Name: (147,  Angola, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.374, 0.387, 0.401, 0.418, 0.429, 0.442, 0.455, 0.471, 0.492, 0.502, 0.522, 0.52, 0.535, 0.543, 0.554, 0.564, 0.572, 0.577), dtype: float64)
(('70', ' Antigua and Barbuda', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.7659999999999999, 0.772, 0.778, 0.777, 0.77, 0.7659999999999999, 0.762, 0.765, 0.768, 0.77, 0.775, 0.778), Human development index (HDI)    0.78
Name: (70,  Antigua and Barbuda, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.766, 0.772, 0.778, 0.777, 0.77, 0.766, 0.762, 0.765, 0.768, 0.77, 0.775, 0.778), dtype: float64)
(('47', ' Argentina', 0.7040000000000001, 0.713, 0.72, 0.725, 0.728, 0.731, 0.738, 0.746, 0.753, 0.764, 0.7709999999999999, 0.7759999999999999, 0.769, 0.775, 0.78, 0.782, 0.787, 0.792, 0.795, 0.799, 0.813, 0.8190000000000001, 0.818, 0.82, 0.82, 0.8220000000000001, 0.8220000000000001), Human development index (HDI)    0.825
Name: (47,  Argentina, 0.704, 0.713, 0.72, 0.725, 0.728, 0.731, 0.738, 0.746, 0.753, 0.764, 0.771, 0.776, 0.769, 0.775, 0.78, 0.782, 0.787, 0.792, 0.795, 0.799, 0.813, 0.819, 0.818, 0.82, 0.82, 0.822, 0.822), dtype: float64)
(('83', ' Armenia', 0.631, 0.628, 0.58, 0.588, 0.599, 0.605, 0.612, 0.623, 0.636, 0.642, 0.647, 0.652, 0.6629999999999999, 0.672, 0.68, 0.693, 0.706, 0.72, 0.727, 0.7240000000000001, 0.728, 0.731, 0.737, 0.742, 0.745, 0.748, 0.7490000000000001), Human development index (HDI)    0.755
Name: (83,  Armenia, 0.631, 0.628, 0.58, 0.588, 0.599, 0.605, 0.612, 0.623, 0.636, 0.642, 0.647, 0.652, 0.663, 0.672, 0.68, 0.693, 0.706, 0.72, 0.727, 0.724, 0.728, 0.731, 0.737, 0.742, 0.745, 0.748, 0.749), dtype: float64)
(('3', ' Australia', 0.866, 0.867, 0.868, 0.872, 0.875, 0.883, 0.8859999999999999, 0.889, 0.892, 0.895, 0.898, 0.9, 0.903, 0.904, 0.907, 0.9079999999999999, 0.9109999999999999, 0.915, 0.92, 0.9209999999999999, 0.9229999999999999, 0.925, 0.929, 0.9309999999999999, 0.9329999999999999, 0.9359999999999999, 0.938), Human development index (HDI)    0.939
Name: (3,  Australia, 0.866, 0.867, 0.868, 0.872, 0.875, 0.883, 0.886, 0.889, 0.892, 0.895, 0.898, 0.9, 0.903, 0.904, 0.907, 0.908, 0.911, 0.915, 0.92, 0.921, 0.923, 0.925, 0.929, 0.931, 0.933, 0.936, 0.938), dtype: float64)
(('20', ' Austria', 0.795, 0.8, 0.805, 0.807, 0.813, 0.8170000000000001, 0.82, 0.8240000000000001, 0.835, 0.8340000000000001, 0.838, 0.8490000000000001, 0.838, 0.8420000000000001, 0.8490000000000001, 0.855, 0.861, 0.8809999999999999, 0.884, 0.8859999999999999, 0.895, 0.897, 0.899, 0.897, 0.9009999999999999, 0.903, 0.9059999999999999), Human development index (HDI)    0.908
Name: (20,  Austria, 0.795, 0.8, 0.805, 0.807, 0.813, 0.817, 0.82, 0.824, 0.835, 0.834, 0.838, 0.849, 0.838, 0.842, 0.849, 0.855, 0.861, 0.881, 0.884, 0.886, 0.895, 0.897, 0.899, 0.897, 0.901, 0.903, 0.906), dtype: float64)
(('80', ' Azerbaijan', nan, nan, nan, nan, nan, 0.612, 0.612, 0.617, 0.626, 0.633, 0.64, 0.648, 0.657, 0.6659999999999999, 0.674, 0.679, 0.7040000000000001, 0.7090000000000001, 0.7190000000000001, 0.736, 0.74, 0.741, 0.745, 0.752, 0.758, 0.758, 0.757), Human development index (HDI)    0.757
Name: (80,  Azerbaijan, nan, nan, nan, nan, nan, 0.612, 0.612, 0.617, 0.626, 0.633, 0.64, 0.648, 0.657, 0.666, 0.674, 0.679, 0.704, 0.709, 0.719, 0.736, 0.74, 0.741, 0.745, 0.752, 0.758, 0.758, 0.757), dtype: float64)
(('54', ' Bahamas', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.7759999999999999, 0.779, 0.7809999999999999, 0.782, 0.784, 0.7859999999999999, 0.7879999999999999, 0.789, 0.79, 0.787, 0.789, 0.7929999999999999, 0.807, 0.807, 0.807, 0.807, 0.8059999999999999), Human development index (HDI)    0.807
Name: (54,  Bahamas, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.776, 0.779, 0.781, 0.782, 0.784, 0.786, 0.788, 0.789, 0.79, 0.787, 0.789, 0.793, 0.807, 0.807, 0.807, 0.807, 0.806), dtype: float64)
(('43', ' Bahrain', 0.746, 0.752, 0.757, 0.765, 0.769, 0.775, 0.778, 0.779, 0.7829999999999999, 0.7859999999999999, 0.792, 0.792, 0.7909999999999999, 0.7929999999999999, 0.792, 0.7909999999999999, 0.7929999999999999, 0.7959999999999999, 0.7959999999999999, 0.794, 0.7959999999999999, 0.7979999999999999, 0.8, 0.807, 0.81, 0.8320000000000001, 0.846), Human development index (HDI)    0.846
Name: (43,  Bahrain, 0.746, 0.752, 0.757, 0.765, 0.769, 0.775, 0.778, 0.779, 0.783, 0.786, 0.792, 0.792, 0.791, 0.793, 0.792, 0.791, 0.793, 0.796, 0.796, 0.794, 0.796, 0.798, 0.8, 0.807, 0.81, 0.832, 0.846), dtype: float64)
(('136', ' Bangladesh', 0.387, 0.39399999999999996, 0.402, 0.409, 0.41700000000000004, 0.425, 0.433, 0.442, 0.451, 0.46, 0.46799999999999997, 0.47700000000000004, 0.483, 0.49, 0.49700000000000005, 0.505, 0.513, 0.52, 0.523, 0.535, 0.545, 0.557, 0.5670000000000001, 0.575, 0.583, 0.5920000000000001, 0.597), Human development index (HDI)    0.608
Name: (136,  Bangladesh, 0.387, 0.394, 0.402, 0.409, 0.417, 0.425, 0.433, 0.442, 0.451, 0.46, 0.468, 0.477, 0.483, 0.49, 0.497, 0.505, 0.513, 0.52, 0.523, 0.535, 0.545, 0.557, 0.567, 0.575, 0.583, 0.592, 0.597), dtype: float64)
(('58', ' Barbados', 0.716, 0.718, 0.718, 0.721, 0.727, 0.731, 0.735, 0.74, 0.736, 0.743, 0.752, 0.7509999999999999, 0.754, 0.759, 0.762, 0.767, 0.772, 0.777, 0.7809999999999999, 0.7829999999999999, 0.782, 0.787, 0.795, 0.7959999999999999, 0.7959999999999999, 0.797, 0.799), Human development index (HDI)    0.8
Name: (58,  Barbados, 0.716, 0.718, 0.718, 0.721, 0.727, 0.731, 0.735, 0.74, 0.736, 0.743, 0.752, 0.751, 0.754, 0.759, 0.762, 0.767, 0.772, 0.777, 0.781, 0.783, 0.782, 0.787, 0.795, 0.796, 0.796, 0.797, 0.799), dtype: float64)
(('53', ' Belarus', nan, nan, nan, nan, nan, 0.657, 0.6609999999999999, 0.667, 0.6709999999999999, 0.6759999999999999, 0.6829999999999999, 0.6890000000000001, 0.696, 0.705, 0.715, 0.725, 0.741, 0.757, 0.774, 0.784, 0.792, 0.7979999999999999, 0.8029999999999999, 0.804, 0.807, 0.805, 0.805), Human development index (HDI)    0.808
Name: (53,  Belarus, nan, nan, nan, nan, nan, 0.657, 0.661, 0.667, 0.671, 0.676, 0.683, 0.689, 0.696, 0.705, 0.715, 0.725, 0.741, 0.757, 0.774, 0.784, 0.792, 0.798, 0.803, 0.804, 0.807, 0.805, 0.805), dtype: float64)
(('17', ' Belgium', 0.8059999999999999, 0.81, 0.825, 0.8390000000000001, 0.845, 0.852, 0.857, 0.862, 0.866, 0.868, 0.873, 0.8759999999999999, 0.879, 0.882, 0.885, 0.889, 0.8959999999999999, 0.899, 0.899, 0.899, 0.903, 0.904, 0.905, 0.9079999999999999, 0.909, 0.9129999999999999, 0.915), Human development index (HDI)    0.916
Name: (17,  Belgium, 0.806, 0.81, 0.825, 0.839, 0.845, 0.852, 0.857, 0.862, 0.866, 0.868, 0.873, 0.876, 0.879, 0.882, 0.885, 0.889, 0.896, 0.899, 0.899, 0.899, 0.903, 0.904, 0.905, 0.908, 0.909, 0.913, 0.915), dtype: float64)
(('106', ' Belize', 0.644, 0.6509999999999999, 0.657, 0.6609999999999999, 0.6609999999999999, 0.662, 0.662, 0.664, 0.6659999999999999, 0.67, 0.677, 0.679, 0.685, 0.6920000000000001, 0.696, 0.693, 0.7, 0.6990000000000001, 0.7, 0.6990000000000001, 0.6990000000000001, 0.7020000000000001, 0.706, 0.705, 0.706, 0.7090000000000001, 0.7090000000000001), Human development index (HDI)    0.708
Name: (106,  Belize, 0.644, 0.651, 0.657, 0.661, 0.661, 0.662, 0.662, 0.664, 0.666, 0.67, 0.677, 0.679, 0.685, 0.692, 0.696, 0.693, 0.7, 0.699, 0.7, 0.699, 0.699, 0.702, 0.706, 0.705, 0.706, 0.709, 0.709), dtype: float64)
(('163', ' Benin', 0.348, 0.354, 0.358, 0.365, 0.368, 0.373, 0.377, 0.381, 0.385, 0.391, 0.39799999999999996, 0.41, 0.419, 0.426, 0.434, 0.44, 0.447, 0.455, 0.462, 0.46799999999999997, 0.473, 0.479, 0.489, 0.5, 0.505, 0.508, 0.512), Human development index (HDI)    0.515
Name: (163,  Benin, 0.348, 0.354, 0.358, 0.365, 0.368, 0.373, 0.377, 0.381, 0.385, 0.391, 0.398, 0.41, 0.419, 0.426, 0.434, 0.44, 0.447, 0.455, 0.462, 0.468, 0.473, 0.479, 0.489, 0.5, 0.505, 0.508, 0.512), dtype: float64)
(('134', ' Bhutan', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.51, 0.521, 0.535, 0.5429999999999999, 0.5539999999999999, 0.5660000000000001, 0.575, 0.585, 0.589, 0.599, 0.603, 0.609), Human development index (HDI)    0.612
Name: (134,  Bhutan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.51, 0.521, 0.535, 0.543, 0.554, 0.566, 0.575, 0.585, 0.589, 0.599, 0.603, 0.609), dtype: float64)
(('118', ' Bolivia (Plurinational State of)', 0.536, 0.5429999999999999, 0.55, 0.557, 0.564, 0.5710000000000001, 0.578, 0.58, 0.591, 0.6, 0.608, 0.611, 0.617, 0.621, 0.622, 0.624, 0.63, 0.631, 0.64, 0.647, 0.649, 0.655, 0.662, 0.6679999999999999, 0.675, 0.6809999999999999, 0.6890000000000001), Human development index (HDI)    0.693
Name: (118,  Bolivia (Plurinational State of), 0.536, 0.543, 0.55, 0.557, 0.564, 0.571, 0.578, 0.58, 0.591, 0.6, 0.608, 0.611, 0.617, 0.621, 0.622, 0.624, 0.63, 0.631, 0.64, 0.647, 0.649, 0.655, 0.662, 0.668, 0.675, 0.681, 0.689), dtype: float64)
(('77', ' Bosnia and Herzegovina', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.672, 0.677, 0.6829999999999999, 0.688, 0.6940000000000001, 0.7, 0.706, 0.7120000000000001, 0.7190000000000001, 0.72, 0.713, 0.721, 0.7390000000000001, 0.747, 0.754, 0.755, 0.7659999999999999), Human development index (HDI)    0.768
Name: (77,  Bosnia and Herzegovina, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.672, 0.677, 0.683, 0.688, 0.694, 0.7, 0.706, 0.712, 0.719, 0.72, 0.713, 0.721, 0.739, 0.747, 0.754, 0.755, 0.766), dtype: float64)
(('101', ' Botswana', 0.581, 0.588, 0.5870000000000001, 0.585, 0.575, 0.5770000000000001, 0.5710000000000001, 0.57, 0.5670000000000001, 0.5660000000000001, 0.565, 0.5670000000000001, 0.5660000000000001, 0.575, 0.584, 0.596, 0.611, 0.625, 0.639, 0.648, 0.66, 0.6729999999999999, 0.6829999999999999, 0.693, 0.701, 0.706, 0.7120000000000001), Human development index (HDI)    0.717
Name: (101,  Botswana, 0.581, 0.588, 0.587, 0.585, 0.575, 0.577, 0.571, 0.57, 0.567, 0.566, 0.565, 0.567, 0.566, 0.575, 0.584, 0.596, 0.611, 0.625, 0.639, 0.648, 0.66, 0.673, 0.683, 0.693, 0.701, 0.706, 0.712), dtype: float64)
(('79', ' Brazil', 0.611, 0.615, 0.622, 0.63, 0.64, 0.648, 0.6559999999999999, 0.664, 0.67, 0.6759999999999999, 0.684, 0.691, 0.698, 0.695, 0.698, 0.7, 0.7020000000000001, 0.705, 0.716, 0.718, 0.727, 0.731, 0.736, 0.748, 0.752, 0.757, 0.758), Human development index (HDI)    0.759
Name: (79,  Brazil, 0.611, 0.615, 0.622, 0.63, 0.64, 0.648, 0.656, 0.664, 0.67, 0.676, 0.684, 0.691, 0.698, 0.695, 0.698, 0.7, 0.702, 0.705, 0.716, 0.718, 0.727, 0.731, 0.736, 0.748, 0.752, 0.757, 0.758), dtype: float64)
(('39', ' Brunei Darussalam', 0.782, 0.787, 0.792, 0.797, 0.8009999999999999, 0.805, 0.807, 0.81, 0.812, 0.818, 0.8190000000000001, 0.82, 0.823, 0.828, 0.8340000000000001, 0.838, 0.84, 0.84, 0.84, 0.8420000000000001, 0.8420000000000001, 0.846, 0.852, 0.853, 0.853, 0.852, 0.852), Human development index (HDI)    0.853
Name: (39,  Brunei Darussalam, 0.782, 0.787, 0.792, 0.797, 0.801, 0.805, 0.807, 0.81, 0.812, 0.818, 0.819, 0.82, 0.823, 0.828, 0.834, 0.838, 0.84, 0.84, 0.84, 0.842, 0.842, 0.846, 0.852, 0.853, 0.853, 0.852, 0.852), dtype: float64)
(('51', ' Bulgaria', 0.6940000000000001, 0.691, 0.691, 0.69, 0.691, 0.696, 0.7020000000000001, 0.7040000000000001, 0.7090000000000001, 0.708, 0.7120000000000001, 0.722, 0.7290000000000001, 0.738, 0.745, 0.75, 0.7559999999999999, 0.764, 0.7709999999999999, 0.774, 0.779, 0.782, 0.7859999999999999, 0.792, 0.797, 0.807, 0.81), Human development index (HDI)    0.813
Name: (51,  Bulgaria, 0.694, 0.691, 0.691, 0.69, 0.691, 0.696, 0.702, 0.704, 0.709, 0.708, 0.712, 0.722, 0.729, 0.738, 0.745, 0.75, 0.756, 0.764, 0.771, 0.774, 0.779, 0.782, 0.786, 0.792, 0.797, 0.807, 0.81), dtype: float64)
(('183', ' Burkina Faso', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.28600000000000003, 0.29, 0.29600000000000004, 0.303, 0.312, 0.324, 0.33299999999999996, 0.344, 0.35700000000000004, 0.366, 0.375, 0.385, 0.39399999999999996, 0.401, 0.405, 0.41200000000000003, 0.42), Human development index (HDI)    0.423
Name: (183,  Burkina Faso, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.286, 0.29, 0.296, 0.303, 0.312, 0.324, 0.333, 0.344, 0.357, 0.366, 0.375, 0.385, 0.394, 0.401, 0.405, 0.412, 0.42), dtype: float64)
(('185', ' Burundi', 0.297, 0.3, 0.297, 0.299, 0.298, 0.29600000000000004, 0.294, 0.29600000000000004, 0.3, 0.3, 0.303, 0.302, 0.31, 0.316, 0.324, 0.33, 0.35, 0.361, 0.37200000000000005, 0.387, 0.395, 0.40299999999999997, 0.408, 0.414, 0.42100000000000004, 0.418, 0.418), Human development index (HDI)    0.417
Name: (185,  Burundi, 0.297, 0.3, 0.297, 0.299, 0.298, 0.296, 0.294, 0.296, 0.3, 0.3, 0.303, 0.302, 0.31, 0.316, 0.324, 0.33, 0.35, 0.361, 0.372, 0.387, 0.395, 0.403, 0.408, 0.414, 0.421, 0.418, 0.418), dtype: float64)
(('125', ' Cabo Verde', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.57, 0.575, 0.585, 0.589, 0.5920000000000001, 0.598, 0.613, 0.619, 0.625, 0.626, 0.629, 0.635, 0.636, 0.642, 0.644, 0.647, 0.652), Human development index (HDI)    0.654
Name: (125,  Cabo Verde, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.57, 0.575, 0.585, 0.589, 0.592, 0.598, 0.613, 0.619, 0.625, 0.626, 0.629, 0.635, 0.636, 0.642, 0.644, 0.647, 0.652), dtype: float64)
(('146', ' Cambodia', 0.364, 0.368, 0.373, 0.377, 0.38, 0.387, 0.391, 0.397, 0.402, 0.40700000000000003, 0.42, 0.434, 0.45299999999999996, 0.466, 0.478, 0.49, 0.502, 0.513, 0.521, 0.521, 0.537, 0.546, 0.5529999999999999, 0.56, 0.5660000000000001, 0.5710000000000001, 0.5760000000000001), Human development index (HDI)    0.582
Name: (146,  Cambodia, 0.364, 0.368, 0.373, 0.377, 0.38, 0.387, 0.391, 0.397, 0.402, 0.407, 0.42, 0.434, 0.453, 0.466, 0.478, 0.49, 0.502, 0.513, 0.521, 0.521, 0.537, 0.546, 0.553, 0.56, 0.566, 0.571, 0.576), dtype: float64)
(('151', ' Cameroon', 0.44, 0.436, 0.43200000000000005, 0.426, 0.423, 0.42200000000000004, 0.42200000000000004, 0.42200000000000004, 0.428, 0.426, 0.431, 0.44799999999999995, 0.451, 0.45799999999999996, 0.46399999999999997, 0.466, 0.47200000000000003, 0.484, 0.49200000000000005, 0.499, 0.506, 0.515, 0.526, 0.535, 0.5429999999999999, 0.5479999999999999, 0.5529999999999999), Human development index (HDI)    0.556
Name: (151,  Cameroon, 0.44, 0.436, 0.432, 0.426, 0.423, 0.422, 0.422, 0.422, 0.428, 0.426, 0.431, 0.448, 0.451, 0.458, 0.464, 0.466, 0.472, 0.484, 0.492, 0.499, 0.506, 0.515, 0.526, 0.535, 0.543, 0.548, 0.553), dtype: float64)
(('12', ' Canada', 0.8490000000000001, 0.853, 0.856, 0.8540000000000001, 0.8590000000000001, 0.861, 0.863, 0.862, 0.861, 0.8640000000000001, 0.867, 0.872, 0.877, 0.882, 0.887, 0.892, 0.895, 0.897, 0.899, 0.899, 0.902, 0.905, 0.9079999999999999, 0.9109999999999999, 0.9179999999999999, 0.92, 0.922), Human development index (HDI)    0.926
Name: (12,  Canada, 0.849, 0.853, 0.856, 0.854, 0.859, 0.861, 0.863, 0.862, 0.861, 0.864, 0.867, 0.872, 0.877, 0.882, 0.887, 0.892, 0.895, 0.897, 0.899, 0.899, 0.902, 0.905, 0.908, 0.911, 0.918, 0.92, 0.922), dtype: float64)
(('188', ' Central African Republic', 0.317, 0.312, 0.299, 0.299, 0.301, 0.303, 0.3, 0.302, 0.304, 0.308, 0.309, 0.311, 0.312, 0.311, 0.315, 0.319, 0.325, 0.331, 0.337, 0.34299999999999997, 0.35100000000000003, 0.358, 0.365, 0.344, 0.349, 0.35700000000000004, 0.36200000000000004), Human development index (HDI)    0.367
Name: (188,  Central African Republic, 0.317, 0.312, 0.299, 0.299, 0.301, 0.303, 0.3, 0.302, 0.304, 0.308, 0.309, 0.311, 0.312, 0.311, 0.315, 0.319, 0.325, 0.331, 0.337, 0.343, 0.351, 0.358, 0.365, 0.344, 0.349, 0.357, 0.362), dtype: float64)
(('186', ' Chad', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.299, 0.306, 0.311, 0.309, 0.32299999999999995, 0.33, 0.332, 0.342, 0.348, 0.363, 0.371, 0.382, 0.391, 0.397, 0.40299999999999997, 0.40700000000000003, 0.405), Human development index (HDI)    0.404
Name: (186,  Chad, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.299, 0.306, 0.311, 0.309, 0.323, 0.33, 0.332, 0.342, 0.348, 0.363, 0.371, 0.382, 0.391, 0.397, 0.403, 0.407, 0.405), dtype: float64)
(('44', ' Chile', 0.701, 0.711, 0.7190000000000001, 0.713, 0.718, 0.727, 0.7340000000000001, 0.741, 0.747, 0.753, 0.759, 0.7659999999999999, 0.768, 0.774, 0.7829999999999999, 0.7879999999999999, 0.7879999999999999, 0.795, 0.8059999999999999, 0.804, 0.8079999999999999, 0.8140000000000001, 0.8190000000000001, 0.828, 0.833, 0.84, 0.8420000000000001), Human development index (HDI)    0.843
Name: (44,  Chile, 0.701, 0.711, 0.719, 0.713, 0.718, 0.727, 0.734, 0.741, 0.747, 0.753, 0.759, 0.766, 0.768, 0.774, 0.783, 0.788, 0.788, 0.795, 0.806, 0.804, 0.808, 0.814, 0.819, 0.828, 0.833, 0.84, 0.842), dtype: float64)